.profileContainer {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 20px rgba(123, 97, 255, 0.08);
	margin-bottom: 20px;
	max-width: 650px;
	width: 100%;
	margin-left: 10px;
}

.profileContainer h2,
.profileContainer h3 {
	color: #2c1810;
	margin-bottom: 10px;
	margin-top: 0px;
}

.profileContainer p {
	color: #4a4a4a;
	margin: 5px 0;
}

.formGroup {
	margin-bottom: 1.5rem;
}

select {
	width: 100%;
	padding: 12px;
	border: 2px solid #e0d8ff;
	border-radius: 8px;
	box-sizing: border-box;
	transition: border-color 0.3s ease;
}

button:hover {
	background-color: #6346ff;
}

.profileContainer input {
	width: 100%;
	padding: 8px;
	border: none;
	border-radius: 4px;
	background-color: #f0f0f0;
	color: #333;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 10px;
	box-sizing: border-box;
	cursor: default;
}

.profileContainer input:focus {
	outline: none;
}

.profileContainer select {
	width: 100%;
	padding: 8px;
	border: 2px solid #e0d8ff;
	border-radius: 4px;
	background-color: white;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 14px;
}

.profileContainer button {
	margin-right: 10px;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	background-color: #7b61ff;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 14px;
}

.profileContainer button:hover {
	background-color: #6346ff;
}
.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Убедиться, что окно сверху */
}

.modalContent {
	background-color: #fff; /* Белый фон окна */
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 90%; /* Ширина окна */
	max-width: 400px; /* Максимальная ширина */
	padding: 20px; /* Внутренние отступы */
	position: relative; /* Для абсолютного позиционирования кнопки закрытия */
	text-align: center; /* Центрирование содержимого */
}

.modalActions {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	font-size: 18px !important;
}

.modalContent button:hover {
	background-color: #6346ff;
}
