.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	background: white;
	padding: 14px;
	border-radius: 8px;
	box-shadow: 0 4px 20px rgba(123, 97, 255, 0.08);
	width: 90%;
	max-width: 400px;
	position: relative;
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	font-size: 18px !important;
}

.modalContent h2 {
	color: #2c1810;
	margin-bottom: 10px;
}

.modalContent p {
	margin-bottom: 20px;
}

.modalContent button {
	margin-right: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #7b61ff;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.modalContent button:hover {
	background-color: #6346ff;
}
.loader {
	width: 20px;
	height: 20px;
	border: 2px solid #f3f3f3;
	border-top: 2px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}
